src/main/resources/gov/hud/arm/wsdl/arm-inlined.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.arm.hud.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http-conf="http://cxf.apache.org/transports/http/configuration" name="ArmServiceImplService" targetNamespace="http://service.arm.hud.gov/">
  <wsdl:documentation>ARM VERSION: 14.16.5.0</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://service.arm.hud.gov/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.arm.hud.gov/">
      <xs:simpleType name="nonNegativeInt">
        <xs:restriction base="xs:int">
          <xs:minInclusive value="0" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="zeroOrOne">
        <xs:restriction base="xs:int">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="threeDigitNumber">
        <xs:restriction base="xs:int">
          <xs:totalDigits value="3" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="processingSuccessful" type="xs:boolean" />
      <xs:element name="submissionRequestStatus" type="nonNegativeInt" />
      <xs:element name="processingErrorDescription" type="xs:string" />
      <xs:element name="agcName" type="xs:string" />
      <xs:element name="message" type="xs:string" />
      <xs:element name="submissionId" type="xs:long" />
      <xs:element name="systemName" type="threeDigitNumber" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="groupId" type="xs:int" />
      <xs:element name="longDesc" type="xs:string" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="shortDesc" type="xs:string" />
      <xs:element name="agcHcsId" type="nonNegativeInt" />
      <xs:element name="fiscalYearId" type="nonNegativeInt" />
      <xs:element name="referenceId" type="nonNegativeInt" />
      <xs:element name="cmsVendorId" type="nonNegativeInt" />
      <xs:element name="cmsPassword" type="xs:string" />
      <xs:element name="statusDate" type="xs:dateTime" />
      <xs:element name="subFlag" type="zeroOrOne" />
      <xs:element name="statusMessage">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="NOT FOUND" />
            <xs:pattern value="RECEIVED" />
            <xs:pattern value="PROCESSING" />
            <xs:pattern value="DONE" />
            <xs:pattern value="ERROR[:][\s\S]*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="referenceItem">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="id" />
            <xs:element minOccurs="1" ref="longDesc" />
            <xs:element minOccurs="1" ref="name" />
            <xs:element minOccurs="1" ref="shortDesc" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="referenceItemGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="groupId" />
            <xs:element minOccurs="0" ref="referenceItem" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="referenceGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="id" />
            <xs:element minOccurs="1" ref="name" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:mime="http://www.w3.org/2005/05/xmlmime" name="submissionData" mime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" />
      <xs:element name="submissionHeader">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
            <xs:element minOccurs="1" ref="agcName" />
            <xs:element minOccurs="1" ref="systemName" />
            <xs:element minOccurs="1" ref="subFlag" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submissionHeader5.0">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
            <xs:element minOccurs="1" ref="agcName" />
            <xs:element minOccurs="1" ref="fiscalYearId" />
            <xs:element minOccurs="1" ref="cmsVendorId" />
            <xs:element minOccurs="1" ref="cmsPassword" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submissionDataEncoding">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="TEXT/XML" />
            <xs:pattern value="ZIP" />
            <xs:pattern value="GZIP" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ping">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="pingResponse">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="ARM Service Version 1[0-9](([.][0-9])|([.][1-9][0-9])){3} [(]Latest Databag Version [3-9][.][0-9][)].*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="getVersion" />
      <xs:element name="getVersionResponse">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="ARM Reference Service Version 1([.][0-9]){3} [(]with ARM Service 1[0-9]([.][0-9]|([.][1-9][0-9])){3}[)] [(]Latest Databag Version [3-9][.][0-9][)]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="getReference">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
            <xs:element minOccurs="1" ref="referenceId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getReferenceItemData">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="referenceId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getReferenceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="referenceItem" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllReferenceItems">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllReferenceItemData" />
      <xs:element name="getAllReferenceItemsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="referenceItemGroup" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getReferenceGroupNameData" />
      <xs:element name="getReferenceGroupNames">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getReferenceGroupNamesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="referenceGroup" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postSubmission">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="submissionHeader" />
            <xs:element minOccurs="0" ref="submissionDataEncoding" />
            <xs:element minOccurs="1" ref="submissionData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postAgencyData">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="submissionHeader5.0" />
            <xs:element minOccurs="0" ref="submissionDataEncoding" />
            <xs:element minOccurs="1" ref="submissionData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postCounselorData">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="submissionHeader5.0" />
            <xs:element minOccurs="0" ref="submissionDataEncoding" />
            <xs:element minOccurs="1" ref="submissionData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postClientData">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="submissionHeader5.0" />
            <xs:element minOccurs="0" ref="submissionDataEncoding" />
            <xs:element minOccurs="1" ref="submissionData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postForm9902Data">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="submissionHeader5.0" />
            <xs:element minOccurs="0" ref="submissionDataEncoding" />
            <xs:element minOccurs="1" ref="submissionData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postSubmissionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="submissionId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSubmissionInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
            <xs:element minOccurs="1" ref="submissionId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSubmissionInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="statusDate" />
            <xs:element minOccurs="1" ref="statusMessage" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDetailedErrorMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
            <xs:element minOccurs="1" ref="submissionId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDetailedErrorMessageResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="statusDate" />
            <xs:element minOccurs="1" ref="message" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="refreshReferenceItemDataCache">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="referenceId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="refreshReferenceItemCache">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
            <xs:element minOccurs="1" ref="referenceId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="refreshAllReferenceItemDataInCache" />
      <xs:element name="refreshAllReferenceItemsInCache">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="refreshReferenceItemDataCacheResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="message" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="refreshAllReferenceItemDataInCacheResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="message" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ping">
    <wsdl:part element="tns:ping" name="ping" />
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part element="tns:pingResponse" name="pingResponse" />
  </wsdl:message>
  <wsdl:message name="getReference">
    <wsdl:part element="tns:getReference" name="getReference" />
  </wsdl:message>
  <wsdl:message name="getReferenceResponse">
    <wsdl:part element="tns:getReferenceResponse" name="getReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="getAllReferenceItems">
    <wsdl:part element="tns:getAllReferenceItems" name="getAllReferenceItems" />
  </wsdl:message>
  <wsdl:message name="getAllReferenceItemsResponse">
    <wsdl:part element="tns:getAllReferenceItemsResponse" name="getAllReferenceItemsResponse" />
  </wsdl:message>
  <wsdl:message name="getReferenceGroupNames">
    <wsdl:part element="tns:getReferenceGroupNames" name="getReferenceGroupNames" />
  </wsdl:message>
  <wsdl:message name="getReferenceGroupNamesResponse">
    <wsdl:part element="tns:getReferenceGroupNamesResponse" name="getReferenceGroupNamesResponse" />
  </wsdl:message>
  <wsdl:message name="postSubmission">
    <wsdl:part element="tns:postSubmission" name="postSubmission" />
  </wsdl:message>
  <wsdl:message name="postAgencyData">
    <wsdl:part element="tns:postAgencyData" name="agencyData" />
  </wsdl:message>
  <wsdl:message name="postCounselorData">
    <wsdl:part element="tns:postCounselorData" name="postCounselorData" />
  </wsdl:message>
  <wsdl:message name="postClientData">
    <wsdl:part element="tns:postClientData" name="postClientData" />
  </wsdl:message>
  <wsdl:message name="postForm9902Data">
    <wsdl:part element="tns:postForm9902Data" name="postForm9902Data" />
  </wsdl:message>
  <wsdl:message name="postSubmissionResponse">
    <wsdl:part element="tns:postSubmissionResponse" name="postSubmissionResponse" />
  </wsdl:message>
  <wsdl:message name="getSubmissionInfo">
    <wsdl:part element="tns:getSubmissionInfo" name="getSubmissionInfo" />
  </wsdl:message>
  <wsdl:message name="getSubmissionInfoResponse">
    <wsdl:part element="tns:getSubmissionInfoResponse" name="getSubmissionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getDetailedErrorMessage">
    <wsdl:part element="tns:getDetailedErrorMessage" name="getDetailedErrorMessage" />
  </wsdl:message>
  <wsdl:message name="getDetailedErrorMessageResponse">
    <wsdl:part element="tns:getDetailedErrorMessageResponse" name="getDetailedErrorMessageResponse" />
  </wsdl:message>
  <wsdl:message name="refreshReferenceItemCache">
    <wsdl:part element="tns:refreshReferenceItemCache" name="refreshReferenceItemCache" />
  </wsdl:message>
  <wsdl:message name="refreshAllReferenceItemsInCache">
    <wsdl:part element="tns:refreshAllReferenceItemsInCache" name="refreshAllReferenceItemsInCache" />
  </wsdl:message>
  <wsdl:portType name="ArmService">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:ping" name="ping" />
      <wsdl:output message="tns:pingResponse" name="pingResponse" />
    </wsdl:operation>
    <wsdl:operation name="getReference">
      <wsdl:input message="tns:getReference" name="getReference" />
      <wsdl:output message="tns:getReferenceResponse" name="getReferenceResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllReferenceItems">
      <wsdl:input message="tns:getAllReferenceItems" name="getAllReferenceItems" />
      <wsdl:output message="tns:getAllReferenceItemsResponse" name="getAllReferenceItemsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getReferenceGroupNames">
      <wsdl:input message="tns:getReferenceGroupNames" name="getReferenceGroupNames" />
      <wsdl:output message="tns:getReferenceGroupNamesResponse" name="getReferenceGroupNamesResponse" />
    </wsdl:operation>
    <wsdl:operation name="postSubmission">
      <wsdl:input message="tns:postSubmission" name="postSubmission" />
      <wsdl:output message="tns:postSubmissionResponse" name="postSubmissionResponse" />
    </wsdl:operation>
    <wsdl:operation name="postAgencyData">
      <wsdl:input message="tns:postAgencyData" name="postAgencyData" />
      <wsdl:output message="tns:postSubmissionResponse" name="postAgencyDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="postCounselorData">
      <wsdl:input message="tns:postCounselorData" name="postCounselorData" />
      <wsdl:output message="tns:postSubmissionResponse" name="postCounselorDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="postClientData">
      <wsdl:input message="tns:postClientData" name="postClientData" />
      <wsdl:output message="tns:postSubmissionResponse" name="postClientDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="postForm9902Data">
      <wsdl:input message="tns:postForm9902Data" name="postForm9902Data" />
      <wsdl:output message="tns:postSubmissionResponse" name="postForm9902DataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSubmissionInfo">
      <wsdl:input message="tns:getSubmissionInfo" name="getSubmissionInfo" />
      <wsdl:output message="tns:getSubmissionInfoResponse" name="getSubmissionInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDetailedErrorMessage">
      <wsdl:input message="tns:getDetailedErrorMessage" name="getDetailedErrorMessage" />
      <wsdl:output message="tns:getDetailedErrorMessageResponse" name="getDetailedErrorMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="refreshReferenceItemCache">
      <wsdl:input message="tns:refreshReferenceItemCache" name="refreshReferenceItemCache" />
    </wsdl:operation>
    <wsdl:operation name="refreshAllReferenceItemsInCache">
      <wsdl:input message="tns:refreshAllReferenceItemsInCache" name="refreshAllReferenceItemsInCache" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArmServiceImplServiceSoapBinding" type="tns:ArmService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ping">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ping">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReference">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getReference">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReferenceItems">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllReferenceItems">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllReferenceItemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReferenceGroupNames">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getReferenceGroupNames">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReferenceGroupNamesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postSubmission">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="postSubmission">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="postSubmissionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postAgencyData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="postAgencyData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="postAgencyDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postCounselorData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="postCounselorData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="postCounselorDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postClientData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="postClientData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="postClientDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postForm9902Data">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="postForm9902Data">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="postForm9902DataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubmissionInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSubmissionInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSubmissionInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailedErrorMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDetailedErrorMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDetailedErrorMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refreshReferenceItemCache">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="refreshReferenceItemCache">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="refreshAllReferenceItemsInCache">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="refreshAllReferenceItemsInCache">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArmServiceImplService">
    <wsdl:port binding="tns:ArmServiceImplServiceSoapBinding" name="ArmServiceImplPort">
      <soap:address location="http://localhost:8080/ARM/ARM/" />
      <http-conf:server ReceiveTimeout="0" HonorKeepAlive="true" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

