src/main/resources/gov/hud/arm/wsdl/reference-inlined.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.arm.hud.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http-conf="http://cxf.apache.org/transports/http/configuration" name="ArmServiceImplService" targetNamespace="http://service.arm.hud.gov/">
  <wsdl:documentation>ARM REFERENCE VERSION: 1.0.0.0 (with ARM VERSION 14.16.5.0)</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://service.arm.hud.gov/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.arm.hud.gov/">
      <xs:simpleType name="nonNegativeInt">
        <xs:restriction base="xs:int">
          <xs:minInclusive value="0" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="zeroOrOne">
        <xs:restriction base="xs:int">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="threeDigitNumber">
        <xs:restriction base="xs:int">
          <xs:totalDigits value="3" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="processingSuccessful" type="xs:boolean" />
      <xs:element name="submissionRequestStatus" type="nonNegativeInt" />
      <xs:element name="processingErrorDescription" type="xs:string" />
      <xs:element name="agcName" type="xs:string" />
      <xs:element name="message" type="xs:string" />
      <xs:element name="submissionId" type="xs:long" />
      <xs:element name="systemName" type="threeDigitNumber" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="groupId" type="xs:int" />
      <xs:element name="longDesc" type="xs:string" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="shortDesc" type="xs:string" />
      <xs:element name="agcHcsId" type="nonNegativeInt" />
      <xs:element name="fiscalYearId" type="nonNegativeInt" />
      <xs:element name="referenceId" type="nonNegativeInt" />
      <xs:element name="cmsVendorId" type="nonNegativeInt" />
      <xs:element name="cmsPassword" type="xs:string" />
      <xs:element name="statusDate" type="xs:dateTime" />
      <xs:element name="subFlag" type="zeroOrOne" />
      <xs:element name="statusMessage">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="NOT FOUND" />
            <xs:pattern value="RECEIVED" />
            <xs:pattern value="PROCESSING" />
            <xs:pattern value="DONE" />
            <xs:pattern value="ERROR[:][\s\S]*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="referenceItem">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="id" />
            <xs:element minOccurs="1" ref="longDesc" />
            <xs:element minOccurs="1" ref="name" />
            <xs:element minOccurs="1" ref="shortDesc" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="referenceItemGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="groupId" />
            <xs:element minOccurs="0" ref="referenceItem" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="referenceGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="id" />
            <xs:element minOccurs="1" ref="name" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:mime="http://www.w3.org/2005/05/xmlmime" name="submissionData" mime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" />
      <xs:element name="submissionHeader">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
            <xs:element minOccurs="1" ref="agcName" />
            <xs:element minOccurs="1" ref="systemName" />
            <xs:element minOccurs="1" ref="subFlag" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submissionHeader5.0">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
            <xs:element minOccurs="1" ref="agcName" />
            <xs:element minOccurs="1" ref="fiscalYearId" />
            <xs:element minOccurs="1" ref="cmsVendorId" />
            <xs:element minOccurs="1" ref="cmsPassword" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submissionDataEncoding">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="TEXT/XML" />
            <xs:pattern value="ZIP" />
            <xs:pattern value="GZIP" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ping">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="pingResponse">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="ARM Service Version 1[0-9](([.][0-9])|([.][1-9][0-9])){3} [(]Latest Databag Version [3-9][.][0-9][)].*" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="getVersion" />
      <xs:element name="getVersionResponse">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="ARM Reference Service Version 1([.][0-9]){3} [(]with ARM Service 1[0-9]([.][0-9]|([.][1-9][0-9])){3}[)] [(]Latest Databag Version [3-9][.][0-9][)]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="getReference">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
            <xs:element minOccurs="1" ref="referenceId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getReferenceItemData">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="referenceId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getReferenceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="referenceItem" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllReferenceItems">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllReferenceItemData" />
      <xs:element name="getAllReferenceItemsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="referenceItemGroup" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getReferenceGroupNameData" />
      <xs:element name="getReferenceGroupNames">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getReferenceGroupNamesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="referenceGroup" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postSubmission">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="submissionHeader" />
            <xs:element minOccurs="0" ref="submissionDataEncoding" />
            <xs:element minOccurs="1" ref="submissionData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postAgencyData">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="submissionHeader5.0" />
            <xs:element minOccurs="0" ref="submissionDataEncoding" />
            <xs:element minOccurs="1" ref="submissionData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postCounselorData">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="submissionHeader5.0" />
            <xs:element minOccurs="0" ref="submissionDataEncoding" />
            <xs:element minOccurs="1" ref="submissionData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postClientData">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="submissionHeader5.0" />
            <xs:element minOccurs="0" ref="submissionDataEncoding" />
            <xs:element minOccurs="1" ref="submissionData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postForm9902Data">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="submissionHeader5.0" />
            <xs:element minOccurs="0" ref="submissionDataEncoding" />
            <xs:element minOccurs="1" ref="submissionData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postSubmissionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="submissionId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSubmissionInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
            <xs:element minOccurs="1" ref="submissionId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSubmissionInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="statusDate" />
            <xs:element minOccurs="1" ref="statusMessage" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDetailedErrorMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
            <xs:element minOccurs="1" ref="submissionId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getDetailedErrorMessageResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="statusDate" />
            <xs:element minOccurs="1" ref="message" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="refreshReferenceItemDataCache">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="referenceId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="refreshReferenceItemCache">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
            <xs:element minOccurs="1" ref="referenceId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="refreshAllReferenceItemDataInCache" />
      <xs:element name="refreshAllReferenceItemsInCache">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="agcHcsId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="refreshReferenceItemDataCacheResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="message" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="refreshAllReferenceItemDataInCacheResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" ref="message" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getVersion">
    <wsdl:part element="tns:getVersion" name="getVersion" />
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part element="tns:getVersionResponse" name="getVersionResponse" />
  </wsdl:message>
  <wsdl:message name="getReferenceItemData">
    <wsdl:part element="tns:getReferenceItemData" name="getReferenceItemData" />
  </wsdl:message>
  <wsdl:message name="getReferenceResponse">
    <wsdl:part element="tns:getReferenceResponse" name="getReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="getAllReferenceItemData">
    <wsdl:part element="tns:getAllReferenceItemData" name="getAllReferenceItemData" />
  </wsdl:message>
  <wsdl:message name="getAllReferenceItemsResponse">
    <wsdl:part element="tns:getAllReferenceItemsResponse" name="getAllReferenceItemsResponse" />
  </wsdl:message>
  <wsdl:message name="getReferenceGroupNameData">
    <wsdl:part element="tns:getReferenceGroupNameData" name="getReferenceGroupNameData" />
  </wsdl:message>
  <wsdl:message name="getReferenceGroupNamesResponse">
    <wsdl:part element="tns:getReferenceGroupNamesResponse" name="getReferenceGroupNamesResponse" />
  </wsdl:message>
  <wsdl:message name="refreshReferenceItemDataCache">
    <wsdl:part element="tns:refreshReferenceItemDataCache" name="refreshReferenceItemDataCache" />
  </wsdl:message>
  <wsdl:message name="refreshReferenceItemDataCacheResponse">
    <wsdl:part element="tns:refreshReferenceItemDataCacheResponse" name="refreshReferenceItemDataCacheResponse" />
  </wsdl:message>
  <wsdl:message name="refreshAllReferenceItemDataInCache">
    <wsdl:part element="tns:refreshAllReferenceItemDataInCache" name="refreshAllReferenceItemDataInCache" />
  </wsdl:message>
  <wsdl:message name="refreshAllReferenceItemDataInCacheResponse">
    <wsdl:part element="tns:refreshAllReferenceItemDataInCacheResponse" name="refreshAllReferenceItemDataInCacheResponse" />
  </wsdl:message>
  <wsdl:portType name="ArmReferenceService">
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersion" name="getVersion" />
      <wsdl:output message="tns:getVersionResponse" name="getVersionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getReferenceItemData">
      <wsdl:input message="tns:getReferenceItemData" name="getReferenceItemData" />
      <wsdl:output message="tns:getReferenceResponse" name="getReferenceResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllReferenceItemData">
      <wsdl:input message="tns:getAllReferenceItemData" name="getAllReferenceItemData" />
      <wsdl:output message="tns:getAllReferenceItemsResponse" name="getAllReferenceItemsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getReferenceGroupNameData">
      <wsdl:input message="tns:getReferenceGroupNameData" name="getReferenceGroupNameData" />
      <wsdl:output message="tns:getReferenceGroupNamesResponse" name="getReferenceGroupNamesResponse" />
    </wsdl:operation>
    <wsdl:operation name="refreshReferenceItemDataCache">
      <wsdl:input message="tns:refreshReferenceItemDataCache" name="refreshReferenceItemDataCache" />
      <wsdl:output message="tns:refreshReferenceItemDataCacheResponse" name="refreshReferenceItemDataCacheResponse" />
    </wsdl:operation>
    <wsdl:operation name="refreshAllReferenceItemDataInCache">
      <wsdl:input message="tns:refreshAllReferenceItemDataInCache" name="refreshAllReferenceItemDataInCache" />
      <wsdl:output message="tns:refreshAllReferenceItemDataInCacheResponse" name="refreshAllReferenceItemDataInCacheResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArmReferenceServiceImplServiceSoapBinding" type="tns:ArmReferenceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReferenceItemData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getReferenceItemData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReferenceItemData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllReferenceItemData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllReferenceItemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReferenceGroupNameData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getReferenceGroupNameData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReferenceGroupNamesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refreshReferenceItemDataCache">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="refreshReferenceItemDataCache">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="refreshReferenceItemDataCacheResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refreshAllReferenceItemDataInCache">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="refreshAllReferenceItemDataInCache">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="refreshAllReferenceItemDataInCacheResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArmReferenceServiceImplService">
    <wsdl:port binding="tns:ArmReferenceServiceImplServiceSoapBinding" name="ArmReferenceServiceImplPort">
      <soap:address location="http://localhost:8000/ARMReference/ARMReference" />
      <http-conf:server ReceiveTimeout="0" HonorKeepAlive="true" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

