src/main/resources/gov/hud/arm/wsdl/reference.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ArmServiceImplService" targetNamespace="http://service.arm.hud.gov/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.arm.hud.gov/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:http-conf="http://cxf.apache.org/transports/http/configuration">
	<wsdl:documentation>ARM REFERENCE VERSION: 1.0.0.0 (with ARM VERSION 14.16.5.0)</wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.arm.hud.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:include schemaLocation="arm.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getVersion">
		<wsdl:part element="tns:getVersion" name="getVersion">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part element="tns:getVersionResponse" name="getVersionResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getReferenceItemData">
		<wsdl:part element="tns:getReferenceItemData" name="getReferenceItemData">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getReferenceResponse">
		<wsdl:part element="tns:getReferenceResponse" name="getReferenceResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllReferenceItemData">
		<wsdl:part element="tns:getAllReferenceItemData" name="getAllReferenceItemData">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllReferenceItemsResponse">
		<wsdl:part element="tns:getAllReferenceItemsResponse" name="getAllReferenceItemsResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getReferenceGroupNameData">
		<wsdl:part element="tns:getReferenceGroupNameData" name="getReferenceGroupNameData">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getReferenceGroupNamesResponse">
		<wsdl:part element="tns:getReferenceGroupNamesResponse" name="getReferenceGroupNamesResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="refreshReferenceItemDataCache">
		<wsdl:part element="tns:refreshReferenceItemDataCache" name="refreshReferenceItemDataCache">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="refreshReferenceItemDataCacheResponse">
		<wsdl:part element="tns:refreshReferenceItemDataCacheResponse" name="refreshReferenceItemDataCacheResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="refreshAllReferenceItemDataInCache">
		<wsdl:part element="tns:refreshAllReferenceItemDataInCache" name="refreshAllReferenceItemDataInCache">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="refreshAllReferenceItemDataInCacheResponse">
		<wsdl:part element="tns:refreshAllReferenceItemDataInCacheResponse" name="refreshAllReferenceItemDataInCacheResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ArmReferenceService">
		<wsdl:operation name="getVersion">
			<wsdl:input message="tns:getVersion" name="getVersion">
			</wsdl:input>
			<wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getReferenceItemData">
			<wsdl:input message="tns:getReferenceItemData" name="getReferenceItemData">
			</wsdl:input>
			<wsdl:output message="tns:getReferenceResponse" name="getReferenceResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name ="getAllReferenceItemData">
			<wsdl:input message="tns:getAllReferenceItemData" name="getAllReferenceItemData">
			</wsdl:input>
			<wsdl:output message="tns:getAllReferenceItemsResponse" name="getAllReferenceItemsResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name ="getReferenceGroupNameData">
			<wsdl:input message="tns:getReferenceGroupNameData" name="getReferenceGroupNameData">
			</wsdl:input>
			<wsdl:output message="tns:getReferenceGroupNamesResponse" name="getReferenceGroupNamesResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name ="refreshReferenceItemDataCache">
			<wsdl:input message="tns:refreshReferenceItemDataCache" name="refreshReferenceItemDataCache">
			</wsdl:input>
			<wsdl:output message="tns:refreshReferenceItemDataCacheResponse" name="refreshReferenceItemDataCacheResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name ="refreshAllReferenceItemDataInCache">
			<wsdl:input message="tns:refreshAllReferenceItemDataInCache" name="refreshAllReferenceItemDataInCache">
			</wsdl:input>
			<wsdl:output message="tns:refreshAllReferenceItemDataInCacheResponse" name="refreshAllReferenceItemDataInCacheResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ArmReferenceServiceImplServiceSoapBinding" type="tns:ArmReferenceService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getVersion">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getVersion">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getVersionResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getReferenceItemData">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getReferenceItemData">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getReferenceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllReferenceItemData">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAllReferenceItemData">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAllReferenceItemsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getReferenceGroupNameData">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getReferenceGroupNameData">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getReferenceGroupNamesResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name ="refreshReferenceItemDataCache">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="refreshReferenceItemDataCache">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="refreshReferenceItemDataCacheResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>				
		<wsdl:operation name ="refreshAllReferenceItemDataInCache">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="refreshAllReferenceItemDataInCache">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="refreshAllReferenceItemDataInCacheResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>	
	</wsdl:binding>
	<wsdl:service name="ArmReferenceServiceImplService">
		<wsdl:port binding="tns:ArmReferenceServiceImplServiceSoapBinding" name="ArmReferenceServiceImplPort">
			<soap:address location="http://localhost:8000/ARMReference/ARMReference" />
			<http-conf:server
				ReceiveTimeout = "0"
				HonorKeepAlive = "true"/>
		</wsdl:port>
	</wsdl:service>	
</wsdl:definitions>